
.banner{
    object-fit: cover;
     width: 100%;
     position: relative;
     overflow: hidden;
     height: 300px;
     
 }
 
 .banner img{
     width: 100% ;
     object-fit: cover;
     transition: 0.5s;
    
    
 }
 .banner::before{
     position: absolute;
     display: block;
     width: 100%;
     height: 55%;
     bottom: 0;
     left: 0;
     content: '';
     background: rgba(0,0,0,0.1);
     background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
     opacity: .95;
     text-align: center;
     box-sizing: border-box;
     transition: all .25s ease-in-out;
 }
 
 .banner:hover .transform-scale{
     transform: scale(1.12);
    
 }
 
 .title2{
     width: 100%;
     position: absolute;
     top: -90px;
     color: #fff;
     text-align: center;
 }
 .title2 h2{
     font-weight: bold;
     font-size: 3rem;
     margin-top: 10px;
     text-align: center;
     transition: 0.5s;
 }
 
 .sp-hover{
     width: 100%;
     color: black;
     font-size: 2rem;
    margin-top: 40px;
    font-weight: 600;
     text-align: center;
    visibility: hidden;
    font-size: 1.4rem;
    color: #fff;
     opacity: 0;
     transition: 0.5s;
 }
 .banner:hover+.banner-title .sp-hover{
     visibility: visible;
     opacity: 1;
     margin-top: unset;
 }
 
 /* card--------- */
 
 .bg-shadow{
    
     background-color: #fff;
     box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 }
 .card-hover .card-item:nth-child(2)
 {
     top: 0;
     left: 0;
     position: absolute;
     opacity: 0;
     transition:all .5s ease;
 }
 .card-hover:hover .card-item:nth-child(1){
    opacity: 0;
    transition:all .5s ease;
 
 }
 .card-hover:hover .card-item+.card-item{
    opacity: 1;
 }

 .card .bag{
     position: absolute;
     color: red;
     display: block;
     background-color: rgba(216, 207, 207, 0.685);
     border-radius: 50%;
     width: 30px;
     height: 30px;
     font-size: 15px;
     text-align: center;
     line-height: 30px;
     top: 10px;
     right: -10px;
     transition: 0.2s;
     opacity: 0;
 }
 .card:hover .bag{
     right: 10px;
     opacity: 1;
    
 }
 .card .bag:hover i{
    
    font-size: 18px;
 }
 .card input{
     position: absolute;
     opacity: 0;
 }
 
 .card a input+.card-hover{
     display: none;
 }
 .card a input:checked+.card-hover{
     display: block;
 }
 .shoer-list{
     display: flex;
     justify-content: end;
 }
 .shoer-list .shoer-list-item{
     width: 30px;
     height: 30px;
     margin-right: 10px;
 }
 .shoer-list .shoer-list-item img{
     width: 100%;
     border-radius: 50%;
 }
 .card-title a{
     color: #333;
 }
 .card-title:hover a{
     color: #FA9A8C;
 }
 .size{
     position: absolute;
     bottom: -5%;
     opacity: 0;
     transition: 0.2s;
 }
 .size .size-item:nth-child(1){
     border-bottom: 2px solid #FA9A8C;
   color: #c86d5f;
 }
 .size .size-item{
     color: black;
     margin-left: 7px;
     font-size: 13px;
     font-weight: 300;
     cursor: pointer;
   
 }
 .size .size-item:hover{
     color: #c86d5f;
     border-bottom: 2px solid #FA9A8C;;
   
 }
 .card:hover .size{
     opacity: 1;
     bottom: 5%;
     
 }
 .sale{
    display: block;
    width: 50px;
    height: 20px;
    background-color: red;
    position: absolute;
    z-index: 9;
    color: #fff;
    top: 7px;
    font-weight: 600;
   text-align: center;
   line-height: 18px;
 }
 
.footer-top{
    background: url(https://bizweb.dktcdn.net/100/369/492/themes/799053/assets/bg_footer.jpg?1664335617141);
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.footer-top p{
    font-size: 14px;
    margin-bottom: 15px;
}
.input-footer{
    width: 80%;
    margin: 0 auto;
    
}
.input-footer ::placeholder{
    font-size: 15px;
    color: rgba(1,1,1,0.5);
    font-weight: 600;
}
.input-footer input{
    font-size: 15px;
    font-weight: 600;
   height: 50px;
   outline: none;
   border: none; 
}

.input-footer button{
    width: 150px;
    font-size: 15px;
    font-weight: bold;
}
.footer-bot{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backto-top{
  position:fixed; top:90% ;left:95%; 
  cursor: pointer;
  
  
}
.backto-top{
    display:none;
}
.show{
display:block;
}
.backto-top a{
  display: block;
  width: 50px;height: 50px;border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  cursor: pointer;
}
.backto-top a i{
  position: relative;
  top: 0px;
  transition: 0.5s ;
}

.image-brand {
    border-top:1px solid rgba(1,1,1,0.3) ;
    display: flex;
    padding: 20px 0;
}
.image-brand button{
   opacity: 0;
   position: absolute;
}
.brand-item{
    width: 158px;
    text-align: center;
    height: 100px;
}
.brand-item a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   cursor: pointer;
}
.brand-item img{
    width: 100%;
}
.tin-tuc::after{
    content: "";
    display: block;
    width: 100%;
    z-index: 0;
    height: 5px;
    left: 0;
    right: 0;
    background-color: red;
}  
.tin-tuc a{
    /* display: block; */
   position: relative;
   top: 15px;
   padding: 0 10px;
   z-index: 1;
    text-align: center;;
    height: 50px;
    /* height: 30px; */
    background-color: white;;
}
.img-tintuc{
    width: 100%;
    overflow: hidden;

}
.img-tintuc img{
   transition: .3s;
}
.img-tintuc:hover img{
    transform: scale(1.1);
}

.sale-pk {
    position: absolute;
    display: block;
    width: 40px;
    height: 25px;
    background-color: red;
    left: 70%;
    top: 50%;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.sale-pk {
    position: absolute;
    display: block;
    width: 40px;
    height: 25px;
    background-color: red;
    left: 70%;
    top: 50%;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}
.link-hover{
    color: black;
 } 
 .link-hover:hover{
 color: #FE0000;
 } 
 .text{
    display: -webkit-box;
    -webkit-line-clamp:2 ;
    -webkit-box-orient: vertical;
    overflow: hidden;

 }